*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Times New Roman", serif;

}



body{

    height:100vh;
    background:#f8f3e8;

}



.forgot-container{

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

}



.forgot-box{

    width:380px;
    text-align:center;

}



.forgot-box h1{

    color:#124d3c;
    font-size:32px;
    margin-bottom:15px;

}



.forgot-box h1 span{

    color:#527464;

}



.forgot-box p{

    color:#124d3c;
    font-size:14px;
    line-height:20px;
    margin-bottom:30px;

}



.forgot-box label{

    display:block;
    text-align:left;

    color:#124d3c;

    margin-bottom:6px;

    font-size:16px;

}



.email-input{

    width:100%;

    height:40px;

    background:#a7b996;

    border-radius:6px;

    display:flex;

    align-items:center;

    padding:0 12px;

}



.email-input span{

    margin-right:10px;

    color:#124d3c;

}



.email-input input{

    width:100%;

    border:none;

    outline:none;

    background:transparent;

    font-size:14px;

}



.email-input input::placeholder{

    color:#555;

}





.reset-btn{

    width:100%;

    height:40px;

    margin-top:25px;


    background:#527464;

    color:white;

    border:none;

    border-radius:6px;


    font-size:16px;

    cursor:pointer;

}



.reset-btn:hover{

    background:#124d3c;

}





.forgot-box h2{

    margin-top:35px;

    font-size:16px;

    color:#124d3c;

}




.forgot-box a{

    display:inline-block;

    margin-top:10px;

    color:#124d3c;

    text-decoration:none;

    font-size:15px;

}



.forgot-box a:hover{

    text-decoration:underline;

}